.update-list-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 2%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  padding-bottom: 1.5%;
  border-bottom: 1px solid gray;
}

.update-list-item h3 {
  margin: 0.5%;
}

.update-list-item p {
  margin: 0.5%;
}
